@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "bourbon";
:root {
    --primary-color: #4daf54;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    overflow: hidden;
}

.card {
    margin: 120px auto;
	width: 320px;
	height: 400px;
	background-color: #272d40;
	border-radius: 15px;
	padding: 40px 20px;
	color: white;
	position: relative;
}

.card_image {
    width: 90%;
	transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card:hover .card_image{
    transform: translateY(-90px) rotate(-30deg);
}

.card_tittle {
    color: var(--primary-color);
    transition: 0.5s;
    text-align: center;
}

.card_price {
    font-weight: 600;
    font-size: 26px;
    transition: 0.5s;
    text-align: center;
}
.card_size,
.card_color,
.card_action {
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}

.card:hover .card_tittle {
    transform: translate(-40px, -72px);
}

.card:hover .card_price {
	transform: translate(-112px, -72px);
}

.card_size {
    margin-top: 100px;
}

.card:hover .card_size {
	margin-top: -30px;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action {
	transition-delay: 0.2s;
	opacity: 1;
	visibility: visible;
}

.card_size,
.card_color {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.card_size span {
	padding: 2px 10px;
	background-color: #dadada;
	margin: 0 5px;
	border-radius: 5px;
	color: #272d40;
    transition: all 200ms ease-in-out;
	cursor: pointer;
}

.card_color span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 0 5px;
    cursor: pointer;
    border-color:black;
    transition: all 200ms ease-in-out;
}
.card_color span:hover {
    transform: scale(1.5);

}

.card_color span.green {
	background-color: green;
    cursor: pointer;
}

span:focus, span:hover {
    background-color: black;
    color: #E0EFFF;

}
.card_color span.red {
	background-color: red;
}
.card_color span.blue {
	background-color: blue;
}

.card_action button {
	padding: 10px 20px;
	outline: none;
	border: none;
	background-color: var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	color: white;
	margin-right: 7px;
	font-weight: 600;
    transition: all 200ms ease-in-out;
}

.card_action button:hover, button:focus  {
	transform: scale(0.9);
    background-color: white;
    color: green;

}

.like, .cart {
	font-size: 25px;
	position: absolute;

	top: 12px;
	left: 20px;
	cursor: pointer;
	z-index: 2;
    transition: all 200ms ease-in-out;
    
}

.cart {
	left: unset;
	right: 20px;
}

.cart:hover,
.like:hover {
    transform: scale(1.5);
    background-color:#272d40;

}